<section>
  <h1>Quero Me cadastrar</h1>
  <form [formGroup]="customerForm">
    <app-form-user-data [userForm]="customerForm"></app-form-user-data>
    <app-form-user-password [userForm]="customerForm" (passwordEqualityValidator)="updatesPasswordEquality($event)"></app-form-user-password>
    <app-form-user-address [userForm]="customerForm"></app-form-user-address>
    <div class="justify-content-center d-flex form-group mb-3">
      <div id="submit-btn">
        <div class="row"><button class="btn btn-primary m-0 px-4" (click)="register()" type="button" style="min-width: 500px;">Cadastrar</button></div>
      </div>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="isCustomerAddedWithSuccess">
      <fa-icon class="fs-5 text-success" [icon]="faCircleCheck"></fa-icon>
      Cadastro realizado com sucesso! Aguarde uns instantes e realize o login...
    </div>
  </form>
  <app-input-errors [errorMessages]="errorMessages"></app-input-errors>
</section>
