<!--<div class="row" style="height: auto">
  <div class="col col-2" style="padding-right: 0px">
    <div class="coffe-sidebar">
      <ul
        class="list-unstyled text-uppercase"
        style="color: rgb(255, 255, 255); cursor: pointer"
      >
        <li data-bss-hover-animate="pulse">
          <strong>Café Tradicional</strong>
        </li>
        <li data-bss-hover-animate="pulse"><strong>Café Especial</strong></li>
        <li data-bss-hover-animate="pulse">
          <strong>Café Gourmet&nbsp;</strong>
        </li>
        <li data-bss-hover-animate="pulse"><strong>Outros</strong></li>
      </ul>
    </div>
  </div>
  <div
    class="col col-8"
    style="background: var(--bs-body-bg); height: auto; min-height: 550px"
  >
    <div class="row" *ngFor="let product of products">
      <div class="col col-md-3" style="height: auto; min-height: 0">
        <a [routerLink]="['/product', product.id]">
          <div class="card">
            <img
              class="card-img-top w-100 d-block"
              [src]="product.imagePath"
            />
            <div class="card-body">
              <h4 class="card-title">{{product.title}}</h4>
              <p class="card-text">{{product.price}}</p>
              <p>
                <fa-icon [icon]="faStar"></fa-icon>
                {{product.rateNumber}}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col col-2"></div>
</div>-->
<div class="row">
  <div class="col col-md-3" style="height: auto; min-height: 0" *ngFor="let product of products">
    <a [routerLink]="['/product', product.id]">
      <div class="card">
        <img class="card-img-top w-100 d-block"
             [src]="product.imagePath" />
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.price | currency:'BRL' : true}}</p>
          <p>
            <fa-icon [icon]="faStar"></fa-icon>
            {{product.rateNumber}}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
