<div class="form-group mb-3">
    <div class="row">
        <div class="col col-4">
            <p>CEP</p><input class="form-control" type="text" required="" name="zipCode" placeholder="Ex. 700001">
        </div>
        <div class="col col-8">
            <p>Logradouro</p><input class="form-control" type="text" required="" name="street" disabled="">
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col col-4">
            <p>Número</p><input class="form-control" type="number" required="" name="addressNumber" placeholder="Ex. 99">
        </div>
        <div class="col col-8">
            <p>Complemento</p><input class="form-control" type="text" required="" name="complement">
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col col-5">
            <p>Bairro</p><input class="form-control" type="text" required="" name="neighbourhood" disabled="">
        </div>
        <div class="col col-6">
            <p>Cidade</p><input class="form-control" type="text" required="" name="city" disabled="">
        </div>
        <div class="col col-1">
            <p>UF</p><input class="form-control" type="text" required="" name="state" disabled="">
        </div>
    </div>
</div>