<div
  class="d-xl-flex justify-content-xl-center align-items-xl-center form-box mx-auto"
  style="width: 50%; background: #ffffff"
>
  <form class="text-center">
    <fieldset style="width: 300px">
      <legend>Sign in</legend>
      <img id="avatar" class="avatar round" src="../assets/img/avatar.png" /><input
        class="form-control"
        type="email"
        id="username"
        name="username"
        placeholder="Nome de usuário"
        style="border: 1px solid rgb(0, 0, 0)"
      /><input
        class="form-control"
        type="password"
        id="password"
        name="password"
        placeholder="Senha"
        style="border: 1px solid rgb(0, 0, 0)"
      /><button
        class="btn btn-primary d-block w-100"
        type="button"
        style="margin-bottom: 12px"
      >
        LOGIN</button
      ><a href="register.html"
        ><button
          class="btn btn-primary d-block w-100"
          type="button"
          style="margin-bottom: 12px"
        >
          cadastre-se
        </button></a
      >
    </fieldset>
  </form>
</div>
