<div class="row">
  <div class="col col-9">
    <h1>CARRINHO DE COMPRAS</h1>
  </div>
  <div class="col col-3">
    <div
      class="w-100 h-100"
      style="
        border-width: 1px;
        border-style: solid;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 6px;
        padding-top: 5px;
      "
    >
      <span>Subtotal: R$ 10,90</span
      ><a href="pre-order.html"
        ><button
          class="btn btn-primary w-100"
          type="button"
          style="height: 50px"
        >
          fECHAR CARRINHO
        </button></a
      >
    </div>
  </div>
</div>
<div
  class="row w-100"
  style="
    height: 60px;
    border: 0.5px solid #534741;
    margin-left: -1px;
    margin-top: 10px;
  "
>
  <div
    class="col-md-3 d-xl-flex justify-content-xl-start"
    style="padding-left: 0px; padding-right: 0px"
  >
    <div
      class="card-img w-50"
      style="
        height: 100%;
        background: url('assets/img/clipboard-image.png') center / cover
          no-repeat;
      "
    ></div>
  </div>
  <div
    class="col-md-3 d-xl-flex justify-content-xl-start align-items-xl-center"
  >
    <h5>CAFEZIN MIL GRAU</h5>
  </div>
  <div
    class="col-md-3 d-xl-flex justify-content-xl-center align-items-xl-center"
  >
    <h5>R$ 10,90</h5>
  </div>
  <div class="col-md-3">
    <div class="row" style="height: 100%">
      <div
        class="col d-xl-flex justify-content-xl-end align-items-xl-center col-4"
        style="padding-right: 0px; padding-left: 0px"
      >
        <button
          class="btn btn-primary d-block d-xl-flex justify-content-xl-center align-items-xl-center icon-button w-100 h-100"
          type="button"
          style="height: 100%"
        >
          <fa-icon [icon]="faMinusCircle" class="fs-2"></fa-icon>
        </button>
      </div>
      <div
        class="col d-xl-flex justify-content-xl-center align-items-xl-center col-4"
      >
        <span>2</span>
      </div>
      <div
        class="col d-xl-flex justify-content-xl-end align-items-xl-center col-4"
        style="padding-left: 0px; padding-right: 0px"
      >
        <button
          class="btn btn-primary d-block d-xl-flex justify-content-xl-center align-items-xl-center icon-button w-100 h-100"
          type="button"
          style="height: 100%"
        >
          <fa-icon [icon]="faPlusCircle" class="fs-2"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
