<div class="row">
  <div class="col col-9">
    <h1>CARRINHO DE COMPRAS</h1>
  </div>
  <div class="col col-3">
    <div
      class="w-100 h-100"
      style="
        border-width: 1px;
        border-style: solid;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 6px;
        padding-top: 5px;
      "
    >
      <span>Total: {{ order.total | currency:'BRL' : true}}</span>
      <button
          class="btn btn-primary w-100"
          type="button"
              [routerLink]="['/pre-order']"
          style="height: 50px" *ngIf="order">
          fECHAR CARRINHO
        </button>
    </div>
  </div>
</div>
<div class="row w-100" *ngFor="let item of order.orderItems"
     style="
    height: 60px;
    border: 0.5px solid #534741;
    margin-left: -1px;
    margin-top: 10px;
  ">
  <div class="col-md-3 d-xl-flex justify-content-xl-start"
       style="padding-left: 0px; padding-right: 0px">
    <div class="card-img w-50"
         style="
        height: 100%;
        background: url('{{item.product.imagePath}}') center / cover
          no-repeat;
      "></div>
  </div>
  <div class="col-md-4 d-xl-flex justify-content-xl-start align-items-xl-center">
    <h5>{{item.product.title}}</h5>
  </div>
  <div class="col-md-3 d-xl-flex justify-content-xl-center align-items-xl-center">
    <h5>{{item.subtotal | currency:'BRL' : true}}</h5>
  </div>
  <div class="col-md-2">
    <div class="row" style="height: 100%">
      <div
        class="col d-xl-flex justify-content-xl-end align-items-xl-center col-4"
        style="padding-right: 0px; padding-left: 0px"
      >
        <button
          class="btn d-block d-xl-flex justify-content-xl-center align-items-xl-center icon-button w-100 h-100"
          type="button"
          style="height: 100%" (click)="dropItemQuantity(item)">
          <fa-icon [icon]="faMinusCircle" class="fs-3"></fa-icon>
        </button>
      </div>
      <div
        class="col d-xl-flex justify-content-xl-center align-items-xl-center col-4"
      >
        <span>{{item.quantity}}</span>
      </div>
      <div
        class="col d-xl-flex justify-content-xl-end align-items-xl-center col-4"
        style="padding-left: 0px; padding-right: 0px">
        <button
          class="btn d-block d-xl-flex justify-content-xl-center align-items-xl-center icon-button w-100 h-100"
          type="button"
          style="height: 100%" (click)="raiseItemQuantity(item)">
          <fa-icon [icon]="faPlusCircle" class="fs-3"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
