<div class="form-group mb-3">
    <div class="row">
        <div class="col">
            <p><strong>Nome completo</strong>&nbsp;<span class="text-danger">*</span></p><input class="form-control" type="text" required="" name="fullName" placeholder="Ex. John">
        </div>
    </div>
</div>
<div class="form-group mb-3">
    <div class="row">
        <div class="col">
            <p><strong>Data de nascimento</strong>&nbsp;<span class="text-danger">*</span></p><input class="form-control" type="date" required="" name="birthDate">
        </div>
        <div class="col">
            <p><strong>CPF</strong>&nbsp;<span class="text-danger">*</span></p><input class="form-control" type="text" required="" name="document" placeholder="Ex. XXX.XXX.XXX-XX">
        </div>
    </div>
</div>
<div class="form-group mb-3">
    <p><strong>E-mail&nbsp;</strong><span class="text-danger">*</span></p><input class="form-control" type="email" name="email" placeholder="user@domain.com">
</div>