<div class="row" style="margin: 0.5%">
  <div class="col">
    <h3 style="border-width: 1px; border-bottom-width: 1px">
      BEM VINDO(A) A NOSSA ENCANTADORA CAFETERIA!
    </h3>
  </div>
</div>
<div class="row" style="margin: 0px; margin-top: 16px">
  <div class="col"
       style="
          padding-top: 16px;
          padding-bottom: 20px;
          text-align: justify;
          border-style: solid;
          border-color: var(--bs-emphasis-color);
          border-width: 0.4px;
        ">
    <h4 style="text-align: left">alguns de nossos produtos</h4>
    <img *ngFor="let imgPath of featureProductImagePaths" style="
            width: 20%;
            height: 230px;
            margin: 2%;
            background: url({{imgPath}}) center / cover no-repeat;
            border-style: none;" />
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>
      <br /><span style="color: rgb(17, 17, 17)">
        Nós, da equipe da Coffe Store, estamos extremamente felizes em
        recebê-lo(a) aqui. Prepare-se para se deliciar com uma experiência
        sensorial única, onde aromas irresistíveis, sabores excepcionais e
        um ambiente acolhedor se unem para criar momentos memoráveis.
      </span><br /><br /><br />
    </h5>
  </div>
</div>
